@mixin btn-size($padding-y, $padding-x, $font-size, $border-radius, $line-height) {
	padding: $padding-y $padding-x;
	font-size: $font-size;
	border-radius: $border-radius;
	&.round {
		border-radius: $line-height / 2 + $padding-y;
	}
}

@mixin btn-type($background, $color, $border, $hover-background: lighten($background, 7.5%), $hover-border: lighten($border, 10%), $hover-color: $color) {
	background: $background;
	color: $color;
	border-color: $border;
	&:hover {
		background: $hover-background;
		color: $hover-color;
		border-color: $hover-border;
	}

	&:focus,
	&.focus {
		background: $background;
		color: $color;
		border-color: $border;
		outline: none;
	}

	&.disabled,
	&[disabled],
	&:disabled {
		background: $background;
		color: $color;
		border-color: $border;
		cursor: not-allowed;
		pointer-events: none;
		box-shadow: none;
		> * {
			pointer-events: none;
		}
	}
}
