// color
$white: #fff !default;
$gray-100: #e2e2e2 !default;
$gray-200: #c6c6c6 !default;
$gray-300: #ababab !default;
$gray-400: #919191 !default;
$gray-500: #777777 !default;
$gray-600: #5e5e5e !default;
$gray-700: #474747 !default;
$gray-800: #303030 !default;
$gray-900: #1b1b1b !default;
$black: #000 !default;

$blue: #1a8cff !default;
$purple: #6f42c1 !default;
$pink: #f08bb4 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: #909399 !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// font family
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

// font size
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-large: $font-size-base * 1.25 !default;
$font-size-medium: $font-size-base !default;
$font-size-small: $font-size-base * 0.875 !default;
$font-size-mini: $font-size-base * 0.75 !default;
$font-size-root: null !default;

// font weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// line height
$line-height-base: 1.5 !default;
$line-height-large: 2 !default;
$line-height-small: 1.25 !default;

// border and border radius

$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius: 0.25rem !default;
$border-radius-large: 0.3rem !default;
$border-radius-medium: $border-radius !default;
$border-radius-small: 0.2rem !default;
$border-radius-mini: 0.15rem !default;

// different box shadow
$box-shadow-mini: 0 0.1rem 0.2rem rgba($black, 0.06) !default;
$box-shadow-small: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-large: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;
